<style>
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #f8f9fa; /* Adjust as needed */
    z-index: 1000;
    text-align: center;
    padding: 10px 0;
}
</style>
<footer class="page-footer text-center font-small mt-4 wow fadeIn">
  <hr class="my-1">

  
  <!-- Social icons -->

  <!--Copyright-->
  <div id="footer">
    © 2025 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank"> K-Mart </a>
  </div>
  <!--/.Copyright-->

</footer>